{% extends 'main/base.html' %}

{% block title %}

{% endblock %}

{% block content %}

<div class="container text-left">
    <div class="row g-2">
      <div class="col-6">
        <div class="p-3">

            Top Left

        </div>
      </div>
      <div class="col-6">
        <div class="p-3">

            <p>
                This website is to be used for easy access to calculators required for the first year math faculty
                math courses. Our built-in algebra calculators include a greatest common divisor calculator, a linear
                diophantine equation solver, and a prime factorization calculator. Our calculus calculators include 
                a derivative calculator. 
            </p>

        </div>
      </div>
      <div class="col-6">
        <div class="p-3">Bottom Left</div>
      </div>
      <div class="col-6">
        <div class="p-3">Bottom Right</div>
      </div>
    </div>
  </div>
{% endblock %}